<!--An HTML form to handle the editing of assignments. Fields required are specified on the
 form.-->
{% extends "layout.html" %}
{% block title %}Edit assignment{% endblock %}
{% block content %}

<div class="panel panel-default">

    <div class="panel-heading">Edit Assignment {{assignment.id}}</div>

    <div class="panel-body">
        <form action="/assignments/edit/{{assignment.id}}" class="form-horizontal" method="POST" role="form">
            <div class="form-group">
                <label for="courseCode" class="col-sm-2 control-label">Course Code</label>
                <div class="col-sm-10">
                    <input name="courseCode" class="form-control" type="text" value="{{assignment.course_code}}" required="true" placeholder="enter Course code" />
                </div>
            </div>
            <div class="form-group">
                <label for="dueDate" class="col-sm-2 control-label">Due Date</label>
                <div class="col-sm-10">
                    <input name="dueDate" class="form-control" type="date" value="{{assignment.dueDate}}" required="true" placeholder="enter Due date" />
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea name="description" class="form-control" required="true" placeholder="enter Description">{{assignment.description}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock %}
