<!--An HTML form to handle the management of assignments. Fields required are specified on the
 form.-->
{% extends "layout.html" %}
{% block title %}Edit assignments{% endblock %}
{% block content %}

<form action="/assignments/manage" method="POST" role="form">

<div class="panel panel-default">

        <div class="panel-heading">Manage Assignments</div>

        <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Due</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for assignment in assignments %}
                        <tr>
                            <td><input type="radio" name="assignmentNumber" id="optionsRadios1" value="{{assignment.id}}" required="true"></td>
                            <td>Assignment {{assignment.id}}</td>
                            <td>{{assignment.dueDate}}</td>
                            <td>{{assignment.description}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>No Assignments found.</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <div>

        <div class="panel-footer">
            <a href = "/assignments/create" class="btn btn-large btn-primary">Create Assignment</a>
            <div class="pull-right">
                <input type="submit" name="submitBtn" class="btn btn-large btn-default" value="Edit Selected" />
                <input type="submit" name="submitBtn"class="btn btn-large btn-danger" value="Delete Selected" />
            </div>
        </div>

    </div>

</form>
{% endblock %}
