{% extends "layout.html" %}
{% block title %}Create assignment{% endblock %}
{% block content %}

<div class="panel panel-default">

    <div class="panel-heading">Create an Assignment</div>

    <div class="panel-body">
        <form action="/assignments/create" class="form-horizontal" method="POST" role="form">
            <div class="form-group">
                <label for="courseCode" class="col-sm-2 control-label">Course Code</label>
                <div class="col-sm-10">
                    <input name="courseCode" class="form-control" type="text" required="true" placeholder="enter Course code" />
                </div>
            </div>
            <div class="form-group">
                <label for="dueDate" class="col-sm-2 control-label">Due Date</label>
                <div class="col-sm-10">
                    <input name = "dueDate" class="form-control" type="date" required="true" placeholder="enter Due date" />
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea name="description" class="form-control" required="true" placeholder="enter Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock %}
