{% extends "layout.html" %}
{% block title %}Create assignment{% endblock %}
{% block content %}

<h3>Create Assignment</h3>
<form action="/createAssignment" method="POST" role="form">
    <div class="form-group">
        <label for="courseCode">Course Code</label>
        <input name="courseCode" class="form-control" type="text" required="true" placeholder="enter Course code" />
    </div>
    <div class="form-group">
        <label for="dueDate">Due Date</label>
        <input name = "dueDate" class="form-control" type="date" required="true" placeholder="enter Due date" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" required="true" placeholder="enter Description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
