{% extends "layout.html" %}
{% block title %}Submission results for A of Assignment B{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/prism.css" />
    <link rel="stylesheet" href="/static/prism-line-numbers.css"></script>
    <link rel="stylesheet" href="/static/css/style.css" />
{% endblock %}
{% block content %}
<h2>Confidence of cheating: 97%</h2>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <h3>{{submission.student_number}} - {{submission.id}} vs {{other_submission.student_number}} - {{other_submission.id}}</h3>

        <pre class="line-numbers left" data-line="{{submission_match_string}}"><code class="language-python">
{{submission.program_source}}
        </code></pre>
        <div class="gap"></div>
        <pre class="line-numbers right" data-line="{{other_submission_match_string}}"><code class="language-python">
{{other_submission.program_source}}
</code></pre>

    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/prism.js"></script>
<script src="/static/prism-line-numbers.js"></script>
<script src="/static/js/gutter.js"></script>
<script>
</script>
{% endblock %}
