{% extends "layout.html" %}
{% block title %}Submission results for A of Assignment B{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/static/css/prism.css" />
{% endblock %}
{% block content %}
<h2>Confidence of cheating: 97%</h2>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <h3>{{submission.student_number}}</h3>
        <pre data-line="{{submission_match_string}}"><code class="language-python">
{{submission.program_source}}
        </code></pre>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <h3>{{other_submission.student_number}}</h3>
        <pre data-line="{{other_submission_match_string}}"><code class="language-python">
{{other_submission.program_source}}
</code></pre>

    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/prism.js"></script>
<script>
</script>
{% endblock %}
