{% extends "layout.html" %}
{% block title %}Assignments List{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/assignments/create">Create Assignment</a></li>
    </ul>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">View cheaters by assignment</div>
            <div class="panel-body">

                <table class="table table-hover">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Students</th>
                            <th>Due</th>
                            <th>Description</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for assignment in assignments %}
                        <tr>
                            <td><a href="/cheaters/{{assignment.id}}">Assignment {{assignment.id}}</a></td>
                            <td>{{assignment.submissions_count}}</td>
                            <td>{{assignment.dueDate}}</td>
                            <td>{{assignment.description}}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>No assignments found.</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

            <div class="panel-footer">
                <a href="/assignments/manage" class="btn btn-large btn-default"><span class="glyphicon glyphicon-cog"></span> Manage assignments</a>
            </div>

        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

        <div class="panel panel-default">
            <div class="panel-heading">Review the Reports</div>
            <div class="panel-body">

                <table class="table table-hover">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Cheaters</th>
                            <th>%</th>
                            <th>Students</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for report in reports %}
                        <tr>
                            <td><a href="/reports/{{report.assignment_num}}">Assignment {{report.assignment_num}}</a></td>
                            <td>{{report.count}}</td>
                            {% if report.assignment_count == 0 %}
                                <td>0</td>
                            {% else %}
                                <td>{{ "%.2f" % (report.count / report.assignment_count) }}</td>
                            {% endif %}
                            <td>{{report.assignment_count}}</td>
                        </tr>
                        {% else %}
                            <tr>
                                <td>No reports found</td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

            </div>


        </div>

    </div>
</div>


{% endblock %}
