{% extends "layout.html" %}
{% block title %}Submission results for {{submission.id}} of Assignment {{assignment_num}}{% endblock %}
{% block content %}
<h2>Confidence of cheating: {{submission.confidence}}</h2>
<ul>
    {% for submission in submissions %}
        <li>
            <h3>{{submission.id}}</h3>
            <div class="code">Code block for submission here.</div>
        </li>
        <li>
            <h3>{{submission.ref}}</h3>
            <div class="code">Code block for ref here.</div>
        </li>
    {% else %}
        <li>No code found.</li>
    {% endfor %}
</ul>
{% endblock %}
