{% extends "layout.html" %}
{% block title %}Submissions for Assignment {{assignment_num}}{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/prism.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/prism-line-numbers.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" id="left-col">
            <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#">List</a></li>
              <li><a href="#">Graph</a></li>
            </ul>
            <div id="list" class="active">
                <table class="table table-hover header-fixed">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th>Target</th>
                            <th>Conf</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="flow">
                <div id="graph"></div>
                <table class="table table-hover header-fixed" id="groups">
                    <thead>
                        <tr>
                            <th>Size</th>
                            <th>Students</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="code-block">
            <div class="row">
                <h3 class="a">Student A</h3>
                <div class="confidence"><h3></h3></div>
                <h3 class="b">Student B</h3>
            </div>
            <div id="diff">
                <pre class="code-left line-numbers" id="code-left">
                    <code class="language-python"></code>
                </pre>
                <!-- <div class="gap"></div> -->
                <pre class="code-right line-numbers" id="code-right">
                    <code class="language-python"></code>
                </pre>
            </div>
        </div>
    </div>
    <i class="glyphicon glyphicon-search" style="visibility: 0;"></i>
{% endblock %}
{% block scripts %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/d3.v3.min.js"></script>
    <script src="/static/js/Graph.js"></script>
    <script src="/static/js/prism.js"></script>
    <script src="/static/js/prism-line-numbers.js"></script>
    <script>
        // bootstrapped data, used by main.js
        var assignment_number = {{ assignment_num }};
    </script>
    <script src="/static/js/main.js"></script>
{% endblock %}
