#vula {
    background: url('/static/img/vula.png') 0 0 no-repeat;
    width: 100%;
    height: 100%;
}
#vula > .inner {
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 50px;

}
#administration.container {
    width: 100%;
    margin-top: 15px;
}
#vula .container {
    margin-top: 0;
    width: 98%;
}

#flash {
    top: 5px;
    left: 50%;
    z-index: 1;
    position: absolute;
    transform: translateX(-50%);
}

.container > .row {
    height: 100%;
}

.navbar-brand img {
    margin-top: -10px;
}

.nav-tabs {
    margin-bottom: 15px;
}

#subgroups {
    position: relative;
    overflow: hidden;
}

#pairs, #groups, #code {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s transform ease;
    -moz-transition: 0.3s transform ease;
    -ms-transition: 0.3s transform ease;
    -o-transition: 0.3s transform ease;
    transition: 0.3s transform ease;
}

#pairs, #groups {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
#code {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
#pairs.active, #groups.active, #code.active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#subgroups .panel:first-child .panel-body {
    overflow: hidden;
}

#subgroups .list .panel-body > table:first-child {
    margin-bottom: 0;
}

#subgroups .scrollable {
    overflow: auto;
    position: relative;
}

#subgroups .panel {
    width: 49.5%;
    float: left;
    margin-bottom: 0;
    margin-top: 0.4%;
    margin-left: 0.4%;
}

#subgroups .panel .panel-body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#subgroups .diagram {
    background: #efefef;
    height: 100%;
    width: 100%;
    position: relative;
}

#subgroups .diagram:before,
#subgroups .list .scrollable:before,
#subgroups .panel-body .howto,
.loading {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    display: none;
    transform: translateX(-50%) translateY(-50%);
    color: #999;
}

#subgroups.initializing .diagram:before,
#subgroups.initializing .list .scrollable:before {
    display: block;
}

#subgroups #pairs .diagram:before,
#subgroups .list .scrollable:before {
    content: 'Loading...';
}

#subgroups #groups .diagram:before {
    content: 'Click a group to render the graph';
    display: block;
}

#subgroups #groups .diagram.rendered:before {
    display: none;
}

#subgroups .panel-body .howto {
    display: block;
    z-index: 1;
    width: 300px;
}
#subgroups .panel-body.rendered .howto {
    display: none;
}

#subgroups .panel-body .howto:before {
    content: 'Select a pair of students to view code';
}

#subgroups .panel-body .instruction {
    display: block;
}

.loading {
    display: none;
    width: 100px;
    height: 40px;
    color: #d9534f;
    font-size: 24px;
    z-index: 1;
}
.loading:before {
    content: 'Loading...';
}
.panel-body.fetching .loading {
    display: block;
}
.panel-body.fetching code {
    color: #c5c5c5;
}

#subgroups table {
    margin-bottom: 0;
}

#subgroups table tr th:nth-child(2),
#subgroups table tr th:nth-child(3),
#subgroups table tr td:nth-child(2),
#subgroups table tr td:nth-child(3) {
    width: 30%;
}

#subgroups table tr th:nth-child(1),
#subgroups table tr th:nth-child(4),
#subgroups table tr td:nth-child(1),
#subgroups table tr td:nth-child(4) {
    width: 10%;
}

#groups table tr:not(:first-child) td:nth-child(1) {
    border-top: 0;
}
#groups table tr td:nth-child(1) {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

table tr {
    cursor: pointer;
}

tr.selected {
    background: #d9edf7;
}

.A {
    width: 50%;
    float: left;
}

.B {
    width: 50%;
    float: left;
}

.action-bar {
    margin: 0 0 10px 0;
}

.action-bar #shared-lines {
    margin-left: 10px;
}

.action-bar #shared-lines span.glyphicon {
    padding-right: 5px;
}

#code .panel-body {
    padding: 0;
    position: relative;
}

#code pre {
    margin: 0;
    height: 100%;
    width: 100%;
    background: #fdfdfd;
    border: 0;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 45px;
    font-size: 14px;
}

#code pre code {
    word-wrap: normal;
}

#code .mark {
    width: 140px;
    margin-left: 10px;
}

h3.a {
    padding: 0;
    float: left;
    margin: 0 0 15px 25px;
}
h3.b {
    padding: 0;
    float: right;
    margin: 0 25px 15px 0;
}

#graph {
    width: 100%;
    height: 250px;
    background: url('/static/img/placeholder_graph.jpg') 50% 0 no-repeat;
    background-color: #fdfdfd;
}

#diff {
    width: 100%;
    overflow: auto;
}

pre {
    float: left;
    width: 48.5%;
    padding-top: 20px;
}

pre:before {
    display: none;
    content: "\e031";
    z-index: 1;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: rgb(79, 87, 148);
    font-size: 100px;
    position: fixed;
    top: 250px;
    left: 8%;
    margin-left: 50%;

    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
pre:after {
    display: none;
    content: '';
    position: fixed;
    top: 61px;
    left: 26%;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);

    z-index: 2;
}

@-webkit-keyframes rotating {
    from { -webkit-transform: rotate(0deg); }
    to {   -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotating {
    from { -moz-transform: rotate(0deg); }
    to {   -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotating {
    from { -ms-transform: rotate(0deg); }
    to {   -ms-transform: rotate(360deg); }
}
@-o-keyframes rotating {
    from { -o-transform: rotate(0deg); }
    to {   -o-transform: rotate(360deg); }
}
@keyframes rotating {
    from { transform: rotate(0deg); }
    to {   transform: rotate(360deg); }
}

pre.loading:before, pre.loading:after {
    display: block;
}


pre h3 {
    position: absolute;
    top: 6px;
    left: 15px;
    margin: 0;
    padding: 0;
}

.gap {
    float: left;
    width: 4%;
    height: 100%;

    margin: 0;
    padding: 1em 0 1em;
}
.gap svg {
    background: none;
}

svg {
    background: #fdfdfd;
}

path {
    fill: hsla(250, 95%, 72%, 0.21);
    stroke: hsla(24, 20%, 50%,.38);
    stroke-width: 1px;
}

path.link.strong {
    stroke: #C52B2B;
}
path.link.medium {
    stroke: #2B4AC5;
}
path.link.weak {
    stroke: #3DC52B;
}
path.link.strong:hover {
    stroke: #F5A2A2;
}
path.link.medium:hover {
    stroke: #A8B6EE;
}
path.link.weak:hover {
    stroke: #BCF5B5;
}

#code .line-highlight {
    background: rgba(255, 0, 0, 0.15);
}


/* D3 Styles */

/* graph */

.link {
  fill: none;
  stroke: #666;
  stroke-width: 15px;
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}
circle:hover {
    fill: lightsteelblue;
}

text {
  font: 20px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.line-numbers span.line-numbers-rows {
    left: -252px;
}

/* histogram */

.bar rect {
  fill: rgb(97, 154, 202);
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
  font: 14px sans-serif;
  font-weight: normal;
  text-shadow: none;
}

.axis text {
    font-size: 14px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Bootstrap overrides */


/* prism overrides */

.line-numbers .line-numbers-rows {
    border-right: 1px solid #eee;
}
.line-numbers .line-numbers-rows span:before {
    color: #ccc;
}
